<h1>chats</h1>
<% if @chats.empty? %>
	<h2>no chats here :(</h2>
<% else %>
	<ul>
		<% @chats.each do |chat| %>
			<li><%= link_to chat.id, chat_path(chat.id) %></li>
		<% end %>
	</ul>
<% end %>
<%= link_to "start a new chat", chats_path, method: :post %>
